*.class
.DS_Store

# Mobile Tools for Java (J2ME)
#.mtj.tmp/

# Package Files #
#*.jar
#*.war
#*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#bin/
#pkg/
pkg/BioAssayTemplateAPI.jar
pkg/BioAssayTemplate.jar

/bin/
run*.sh

# data stuff to skip
data/bao/bad.zip
data/bao/oldversion.zip
data/template/schema_bak?.ttl
data/template/schema_template.pdf
data/template/funky.ttl
data/template/*.pdf
data/old_ontology*
data/template/schema.bak
/nbproject/private/
/build/
/dist/
